# Ignore everything by default
*

# Keep .gitignore
!.gitignore

# Allow C folder
!/C/
!/C/**

# Allow WebDev folder
!/WEB_DEVELOPEMENT/
!/WEB_DEVELOPEMENT/**

# Ignore heavy folders
JAVA/
Youtube/
my-projects/
Desktop.rar
projects.zip

# Ignore binaries
*.exe
*.out
*.o
*.dll
*.jmod
*.jar

# VSCode + system junk
.vscode/
*.zip
*.tmp
*.txt.save
*.png:Zone.Identifier
*.jpg:Zone.Identifier
