
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter',sans-serif;
  background-color: rgb(57, 80, 199);
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, content, footer */
  min-height: 100vh;
}

.contact-form
{
    background-color: blueviolet;
}
h1 {
    display:inline-block;
    background-color: rgb(128, 255, 43);
    color:rgb(57, 80, 199);
    text-align:center;
    font-size:60px;
    border-radius: 50px;
    padding: 10px 20px;

}
.name
{
    text-align: center;
}
nav a
{
    text-align:center;
    size:100px;
    margin:20px;
    padding: 15px;
    color:rgb(188, 178, 222);
    text-decoration:none;
   font-size:25px;
}
nav{
    text-align: center;
     text-decoration: none;
}
nav a:hover {
    color:rgb(128, 255, 43);
}
.about-content
{
    text-align: justify;
}
.about-content h1
{
    text-align:left;
    background-color:rgb(128, 255, 43);
    margin: auto;
    border-radius:40px;
    color:rgb(57, 80, 199);
    padding:10px;
    padding-right:370px;
    display:inline-block;
    margin:1px;
}
.about-content
{
margin:30px;
}
.intro ul
{
    margin-top:10px;
}


